section{
    width: 100%;
    height: auto;
    display: flex;
}
.banner{
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.banner .compose{
    padding: 30px;
}
.banner .compose:nth-child(1){
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 56%;
}
.banner .compose:nth-child(2){
    width: 44%;
}
